@function emcalc($size, $base: $base-em-font) {
    @return ($size/$base) * 1em;
}

@mixin font-size($size, $base: $base-em-font) {
    font-size: emcalc($size, $base);
}

// The text-indent: -9999em method is dangerous and outdated
@mixin text-indent() {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

// The following mixin functions are from
// https://gist.github.com/Integralist/3931680

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation, $duration: 0.3s, $timing-func: ease, $delay: 0, $iteration: 1, $direction: normal, $fill-mode: none) {
    -webkit-animation-name: $animation;
    -webkit-animation-delay: $delay;
    -webkit-animation-timing-function: $timing-func;
    -webkit-animation-duration: $duration;
    -webkit-animation-fill-mode: $fill-mode;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $animation;
    -moz-animation-delay: $delay;
    -moz-animation-timing-function: $timing-func;
    -moz-animation-duration: $duration;
    -moz-animation-fill-mode: $fill-mode;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-direction: $direction;

    -o-animation-name: $animation;
    -o-animation-delay: $delay;
    -o-animation-timing-function: $timing-func;
    -o-animation-duration: $duration;
    -o-animation-fill-mode: $fill-mode;
    -o-animation-iteration-count: $iteration;
    -o-animation-direction: $direction;

    animation-name: $animation;
    animation-delay: $delay;
    animation-timing-function: $timing-func;
    animation-duration: $duration;
    animation-fill-mode: $fill-mode;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}
