// Main style

@import "core";
@import "reset";

body {
    background: $body-bg;
    color: $body-font-color;
    font-family: $body-font-family;
    font-style: $body-font-style;
    font-weight: $body-font-weight;
    text-rendering: $body-text-rendering;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-font-color;
    font-family: $heading-font-family;
    font-style: $heading-font-style;
    font-weight: $heading-font-weight;
    text-rendering: $heading-text-rendering;
}

p {
    color: $paragraph-font-color;
    font-family: $paragraph-font-family;
    font-size: $paragraph-font-size;
    font-style: $paragraph-font-style;
    font-weight: $paragraph-font-weight;
    line-height: $paragraph-line-height;
    margin: 0 0 $paragraph-margin-bottom 0;
    text-rendering: $paragraph-text-rendering;
}

input,
button,
select,
textarea {
    color: $form-font-color;
    font-family: $form-font-family;
    font-size: $form-font-size;
    font-style: $form-font-style;
    font-weight: $form-font-weight;
}

@import "global"; // Global styles (used on every page)
@import "responsive"; // Media ueries
